
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
    position: relative;
    min-height: 100vh;
}

 .nav1{
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    background-color: lavender;
    color: #000;
   }
header {
    text-align: left;
    font-size: large;
    color: #45a049;
    
}

main {
    display: block;
    text-align: center;
    padding: 20px;
}

.movie-item {
    display: inline-block;
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    margin: 30px;
    width: 200px;
    text-align: center;
}

.movie-item img {
    width: 100%;
    border-radius: 5px;
}

h5 {
    font-size: 18px;
    margin: 15px 0 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
